<!-- 
sass = syntactically awesome stylesheet
programming language
مكتوبها بلغة ال
ruby
بتذود فيتشر مش موجودة فى ال
css
زى 
variables & functions & Operators
nesting & mixins & extends  & import
if else & loop & math 
____________________________________________________
preprocessor 
ملف ال
sass 
بيتعملة معالجة عشان تحولة لملف 
css
اللى بتدية للمتصفح
يعنى بتحول ملف ال
sass
لملف
css
لية بستخدمة؟؟؟؟؟؟؟؟؟؟؟؟؟
بيوفر وقت 
الكود منظم 
اسهل فى التعديل
الكوالتى احسن
Dry Code متكررش الكود
_________________________________________________
mixins
مجموعة خصائص فى 
css
اقدر اعملها انكلود
________________________________________________
فى حاجات تانية زى ال
sass
منها
less - styles - myth - rework
ال
sass
 اهم واحدة فيهم لما البوتستراب الفرجن 4  نزل 
منة
فرجن
 sass
___________________________________________________
sass
لية امتددان
وطريقة كتابة الكود بتختلف فى كل امتداد
1-  .sass
دة اول امتداد نزل 
الكود هنا بالشكل دة 
.class1
    font-family:$arFont
    color:$mainColor
    margin:$mainMargin

2- .scss
اغلب ناس شعالة بالامتداد دة
البوتسراب موجود بدة
الكود هنا 
.class1{
    font-family:$arFont;
    color:$mainColor;
    margin:$mainMargin;
}

________________________________________________________
gem 
package manager
لل
ruby
مكتبة من مكتبات ال
ruby
بيعمل مانج للحاجات اللى بعملها 
install
عن طريق 
ruby

الruby
دة برنامج انا بنزلة ولما بنزلة بيقى لية 
cmd
خاصة بية هو 
عايزة انزل ال
sass
بالامر دة 
gem install sass

--watch
بتبقى شايفة اى تغير بيحصل
sass --watch المسار اللى فية السى اس اس:المسار اللى فية الساس
________________________________________________
-->

<div class="parent">
<div class="class1">test1</div>
<div class="class2">test2</div>
<div class="class3">test3</div>
<div class="class4">class4</div>
</div>

<div class="child">
  <div class="child1">child1</div>
<div class="child2">child2</div>
<div class="child3">child3</div>
</div>


<div class="one">one</div>
<div class="two">two</div>
<div class="clearFix"></div>

<router-outlet></router-outlet>